@model PetproMax.Models.HomeLessAnimal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h1>修改流浪動物中途資料</h1>

@using (Html.BeginForm("Edit", "HomeLessAnimals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal h4">
    <h4>HomeLessAnimal</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.HomeLessAnimalID)

    <div class="form-group">
        @Html.LabelFor(model => model.HomeLessAnimalName, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.HomeLessAnimalName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HomeLessAnimalName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnimalSex, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @*@Html.EditorFor(model => model.AnimalSex)*@
                <input class="check-box" data-val="true" data-val-required="請選擇性別" id="boy3" name="AnimalSex" type="radio" value="true" />
                <span>男生</span>
                <input class="check-box" data-val="true" data-val-required="請選擇性別" id="girl3" name="AnimalSex" type="radio" value="false" />
                <span>女生</span>
                @Html.ValidationMessageFor(model => model.AnimalSex, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @*@Html.EditorFor(model => model.Type)*@
                <input class="check-box" data-val="true" data-val-required="請選擇種類" id="dog3" name="Type" type="radio" value="true" />
                <span>狗</span>
                <input class="check-box" data-val="true" data-val-required="請選擇種類" id="cat3" name="Type" type="radio" value="false" />
                <span>貓</span>
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Breed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Breed, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Breed, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tsmc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @*@Html.EditorFor(model => model.Tsmc)*@
                <input class="check-box" data-val="true" data-val-required="是否有晶片" id="yes3" name="Tsmc" type="radio" value="true" />
                <span>是</span>
                <input class="check-box" data-val="true" data-val-required="是否有晶片" id="No3" name="Tsmc" type="radio" value="false" />
                <span>否</span>
                @Html.ValidationMessageFor(model => model.Tsmc, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnimalPhotoFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @*@Html.EditorFor(model => PetPhotoFile, new { htmlAttributes = new { @class = "form-control" } })*@
            @*@Html.TextBoxFor(Model => PetPhotoFile, new {type="file",@class= "form-control",name="photo" })*@
            <input id="photo" type="file" class="form-control" name="photo" />
            <div>
                <h5 style="color:red;">溫馨提醒：修改請務必重新上傳相片，感謝您的合作!!</h5>
            </div>
            @Html.ValidationMessageFor(model => model.AnimalPhotoFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GetDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.GetDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GetDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HLADescription, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.HLADescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HLADescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FamilyName, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-4">
            @Html.EnumDropDownListFor(model => model.FamilyName, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.MemberID, "MemberID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MemberID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <h5 style="color:red;">溫馨提示：請務必核對清楚再送出喔!!!</h5>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="修改" class="btn btn-warning" />
        </div>
    </div>
    <p>
        @Html.ActionLink("返回流浪動物中途首頁", "Show", null, new { @class = "btn btn-dark" })
    </p>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
