@model IEnumerable<PetproMax.Models.HomeLessAnimal>

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<h2>流浪動物中途首頁</h2>

<p>
    @Html.ActionLink("新增寵物中途資料", "Create", null, new { @class = "btn btn-info btn-xl" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeLessAnimalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Tsmc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalPhotoFile)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.HLADescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeLessAnimalName)
            </td>
            <td>
                @(item.AnimalSex ? "男生" : "女生")
            </td>
            <td>
                @(item.Type ? "狗" : "貓")
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>*@
            <td>
                @(item.Tsmc ? "是" : "否")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AnimalPhotoFile)*@
                <img src="~/AnimalPhotos/@(item.HomeLessAnimalName).jpg" width="150" />
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.HLADescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.HomeLessAnimalID }) |*@
                @Html.ActionLink("查看詳情", "Details", new { id = item.HomeLessAnimalID }, new { @class = "btn btn-secondary btn-sm" })
                @*@Html.ActionLink("Delete", "Delete", new { id = item.HomeLessAnimalID })*@
            </td>
        </tr>
    }

</table>
