@model PetproMax.Models.Applied
@using PetproMax.Models;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
    int memberID = ((Members)Session["user"]).MemberID;
}

<h1>申請資料詳情</h1>

<div>
    @*<h4>Applied</h4>*@
    <hr />
    <dl class="dl-horizontal h4">
        <dt>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamiliesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamiliesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (memberID == Model.MemberID)
    {
        @Html.ActionLink("修改", "Edit", new { id = Model.AppliedID }, new { @class = "btn btn-danger" })
    }
    @Html.ActionLink("返回認養申請首頁", "Show", null, new { @class = "btn btn-dark"})
</p>
