<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 帥帥招財</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        .bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 500px;
            right: 0;
            z-index: -999;
            opacity: 0.3;
        }

            .bg img {
                min-height: 100%;
                width: 100%;
            }
    </style>
</head>
<body>
    <div class="bg">
        <img src="~/kid.jpg" />
    </div>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container">
            @Html.ActionLink("帥帥招財", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MynavbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="MynavbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div>
                @Html.ActionLink("註冊會員", "Create", "Members", new { area = "" }, new { @class = "nav-link btn btn-outline-light btn-sm" })
            </div>
            <div>
                @Html.ActionLink("會員登入", "Login", "User", new { area = "" }, new { @class = "nav-link btn btn-outline-light btn-md" })
            </div>
            <div>
                @Html.ActionLink("管理員登入", "Login", "HomeManager", new { area = "" }, new { @class = "nav-link btn btn-outline-light btn-lg" })
            </div>
        </div>
    </div>

    <section class="container">
        @RenderBody()

    </section>
    <hr />

    <p class="text-white text-center p-3">Copyright &copy; @DateTime.Now.Year - 帥帥招財 All Rights Reserved.</p>

    @*<footer class="bg-dark mt-5">
            <p class="text-white text-center p-3">Copyright &copy; @DateTime.Now.Year - 帥帥招財 All Rights Reserved.</p>
        </footer>*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>

@{ 
    if(!string.IsNullOrEmpty((string)TempData["Message"] ?? string.Empty))
            {
               <script>
                   alert("@(TempData["Message"])")
               </script>
            }
}